<header class="container">
    <h2> Wait load page .....</h2>
</header>
  <main class="container">
   <div class="row">
    <div class="col-8">
        <div style="width: 65;">
            <ul class="o-vertical-spacing o-vertical-spacing--l">
           
                 <li class="blog-post o-media">
                   <div class="o-media__figure">
                     <span class="skeleton-box" style="width:100px;height:80px;"></span>
                   </div>
                   <div class="o-media__body">
                     <div class="o-vertical-spacing">
                       <h3 class="blog-post__headline">
                         <span class="skeleton-box" style="width:55%;"></span>
                       </h3>
                       <p>
                         <span class="skeleton-box" style="width:80%;"></span>
                         <span class="skeleton-box" style="width:90%;"></span>
                         <span class="skeleton-box" style="width:83%;"></span>
                         <span class="skeleton-box" style="width:80%;"></span>
                       </p>
                       <div class="blog-post__meta">
                         <span class="skeleton-box" style="width:70px;"></span>
                       </div>
                     </div>
                   </div>
                 </li>
                 <li class="blog-post o-media">
                   <div class="o-media__figure">
                     <span class="skeleton-box" style="width:100px;height:80px;"></span>
                   </div>
                   <div class="o-media__body">
                     <div class="o-vertical-spacing">
                       <h3 class="blog-post__headline">
                         <span class="skeleton-box" style="width:55%;"></span>
                       </h3>
                       <p>
                         <span class="skeleton-box" style="width:80%;"></span>
                         <span class="skeleton-box" style="width:90%;"></span>
                         <span class="skeleton-box" style="width:83%;"></span>
                         <span class="skeleton-box" style="width:80%;"></span>
                       </p>
                       <div class="blog-post__meta">
                         <span class="skeleton-box" style="width:70px;"></span>
                       </div>
                     </div>
                   </div>
                 </li>
                 <li class="blog-post o-media">
                   <div class="o-media__figure">
                     <span class="skeleton-box" style="width:100px;height:80px;"></span>
                   </div>
                   <div class="o-media__body">
                     <div class="o-vertical-spacing">
                       <h3 class="blog-post__headline">
                         <span class="skeleton-box" style="width:55%;"></span>
                       </h3>
                       <p>
                         <span class="skeleton-box" style="width:80%;"></span>
                         <span class="skeleton-box" style="width:90%;"></span>
                         <span class="skeleton-box" style="width:83%;"></span>
                         <span class="skeleton-box" style="width:80%;"></span>
                       </p>
                       <div class="blog-post__meta">
                         <span class="skeleton-box" style="width:70px;"></span>
                       </div>
                     </div>
                   </div>
                 </li>
               </ul>
               </div> 
               
    </div>
    <div class="col-4">
            <div style="height: 100%;border: 1px solid silver ; border-radius: 5px; padding: 10px;">
                <ul class="o-vertical-spacing o-vertical-spacing--l">
           
                    <li class="blog-post o-media">
                      <div class="o-media__figure">
                        <span class="skeleton-box" style="width:100px;height:80px;"></span>
                      </div>
                      <div class="o-media__body">
                        <div class="o-vertical-spacing">
                          <h3 class="blog-post__headline">
                            <span class="skeleton-box" style="width:55%;"></span>
                          </h3>
                          <p>
                            <span class="skeleton-box" style="width:80%;"></span>
                            <span class="skeleton-box" style="width:90%;"></span>
                            <span class="skeleton-box" style="width:83%;"></span>
                            <span class="skeleton-box" style="width:80%;"></span>
                          </p>
                          <div class="blog-post__meta">
                            <span class="skeleton-box" style="width:70px;"></span>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="blog-post o-media">
                      <div class="o-media__figure">
                        <span class="skeleton-box" style="width:100px;height:80px;"></span>
                      </div>
                      <div class="o-media__body">
                        <div class="o-vertical-spacing">
                          <h3 class="blog-post__headline">
                            <span class="skeleton-box" style="width:55%;"></span>
                          </h3>
                          <p>
                            <span class="skeleton-box" style="width:80%;"></span>
                            <span class="skeleton-box" style="width:90%;"></span>
                            <span class="skeleton-box" style="width:83%;"></span>
                            <span class="skeleton-box" style="width:80%;"></span>
                          </p>
                          <div class="blog-post__meta">
                            <span class="skeleton-box" style="width:70px;"></span>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="blog-post o-media">
                      <div class="o-media__figure">
                        <span class="skeleton-box" style="width:100px;height:80px;"></span>
                      </div>
                      <div class="o-media__body">
                        <div class="o-vertical-spacing">
                          <h3 class="blog-post__headline">
                            <span class="skeleton-box" style="width:55%;"></span>
                          </h3>
                          <p>
                            <span class="skeleton-box" style="width:80%;"></span>
                            <span class="skeleton-box" style="width:90%;"></span>
                            <span class="skeleton-box" style="width:83%;"></span>
                            <span class="skeleton-box" style="width:80%;"></span>
                          </p>
                          <div class="blog-post__meta">
                            <span class="skeleton-box" style="width:70px;"></span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>            </div>
    </div>
   </div>
   
  </main>